<h1>Here you go mf</h1>

<ul> 
   

   <li>Name: <%= @cat.name %> </li> 
   <li>Birth Date: <%= @cat.birth_date %> </li> 
   <li>Age: <%= @cat.age %> </li> 
   <li>Color: <%= @cat.color %> </li> 
   <li>Sex: <%= @cat.sex %> </li> 
   <li>Description: <%= @cat.description %> </li> 

 </ul>
